html{background-color: white;}
header{background-color: rgb(89, 129, 216);
       text-align: center;}

nav{text-align: center;}

nav a{display: inline-block;
        padding: 10px ;
        text-decoration: none;}
        
nav a:hover{background-color: rgb(106, 92, 227);
                border-radius: 5px;}      
                
                
#about{text-align: center;} 

#about img{width: 400px;
        height: 400px;
border-radius: 50%;}

#skills{text-align: center;
}

#table{border-collapse: collapse;
        width: 400px;
  margin: 0 auto;
}              
.skill{border: 1px solid blue;
border-width: 2px;}
th{background-color:blue;
        color: white;}


#project{text-align: center;
        width: 800px;
        margin: 20px auto;}
#form,#card,#snake{border: 1px solid black;
        padding: 20px;
        border-radius: 10px;
        margin: 15px auto;}

#contact{
text-align: center;
}
#contact-box{
                 margin: 0 auto;
                border-collapse: collapse;
                 }
.contact{border: 2px solid rgb(22, 22, 229);
                 width: 400px;
                 padding: 10px;
}    
#contact-box:first-child{width: 30%;}         




button {
  background-color:  rgb(31, 87, 184);
  color: white;
  padding: 5px 80px;
  border-radius: 10px;

}
hr{height: 2px;
        background-color: black;}

button:hover{background-color:blue;}

#backtotop{
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px 20px;
        
}
.footer{
        width: 100%;
        height: 10px;
         background-color: blue;
         margin-top: 10px;}
         



